*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.sheet {
    width: "100%";
    height: "90vh";
    position: "absolute";
    z-index: 100;
    background-color: "#0000004a";
    margin-top: "30px";
    display: "flex";
    justify-content: "center";
    align-items: "center";
    flex-direction: "column"

}
.imgage
{
    width:"100vw";
    height:"90vh";
    margin-top:"30px"
}
.fier
{
    width: 100px;
    height: 100px;
    background: transparent;
    background-color:green;
    border-radius:50%;
    border: 1px solid black;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: start;
    margin-left: 20px; 
}
.imgage
{
    width: 100%;
    height: 100%;
    padding: 10px auto;
   /* i */
}
.card
{
    box-shadow: 0px 0px 6px black;
    margin-bottom: 50px;
    border-radius: 5px;

}
.card:hover
{
    box-shadow: 0px 0px 14px green;
    
}
.head
{
    font-size:1.5rem;
    font-style: italic;
    font-family:monospace;
    margin-bottom:-20px;
    text-transform: capitalize;
    font-weight: 800;
    background-color:blue;
}
.head:hover
{
    color: green;
}
.para
{
    text-align: justify;
    font-size: 1rem;
    line-height: 37px;
}
.hel
{
    padding: 40px;
    margin-block: 30px;
}
.hello
{
    padding: 20px;
    margin-top:30px;   
    font-family: sans-serif;
    font-style: italic;
}
/* .hello::after
{
    display: block;
    color: red;
    width: 30px;
    height: 2px;
    content: "";
} */
.par 
{
    font-size: 1.5rem;
    margin: 5px auto;
    text-align: center;
    font-family: "hevetica";
    
}
.par::first-letter
{
    text-transform: capitalize;
}
#footer
{
    width:100% ;
 
    background-color:#b2bec3;
    padding: 50px;

}
.locat
{
    width: 100%;
    color: green;
    font-size: larger;
    text-align: left;
    margin-top:-15px;
    
}
.name
{
 
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    word-spacing: 1px;
}
address
{
    padding-left:30px;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: start;
    margin-left: 40px;
}
.ted
{
    padding-left:5px;
    margin-top:10px;
    text-align: justify;
}
.the
{
    padding-left:5px;
    margin-top:10px;
    text-align: justify;
    font-size: 1rem;
}
.thed
{
    padding-left:5px;
    text-align: justify;
    font-size: 1rem;
}
.pad
{
    padding-left: 60px;
    margin-top: -10px;
}
.tdk
{
    display: block;
    padding-left:15px;
    font-family: sans-serif;
    text-align: start;
    margin-left: 35px;
}
.te
{
    margin-bottom: 15px;
}
.first
{
   display:inline-block;
   width: 50px;
   height: 50px;
   border: 1px solid #9e9e9e;
   border-radius: 50%; 
   padding: 5px;
   margin: 3px 5px;
   color: #9e9e9e;
}
.first:hover
{
    color:green;
    border-color: green;
}
.copy
{
    font-size: 0.5rem;
    font-family: verdana;

}
.cop a
{
    text-decoration: none;
    color: green;
    margin-top:-30px;
}
.cop
{
    margin-bottom: -3px;
    font-weight: lighter;
}
.agentimg
{
        color:red;
        background-color: aquamarine;
        height:500px;
}
.foir{
    background-color:"green";
    color:"white";
   
    
    
}
.foir:hover
{
    background-color: transparent !important;
}
